<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Week 2</a></li>
    <li><a href="#tab2" data-toggle="tab">Week 3</a></li>
  </ul>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <p><%= render 'form', games: Game.where(week: 2), week_id: 2 %></p>
    </div>
    <div class="tab-pane" id="tab2">
      <p><%= render 'form', games: Game.where(week: 3), week_id: 3 %></p>
    </div>
  </div>
</div>

