<h1><%= @user.email %></h1>

<table class="table">
	<tr>
		<th>Pick</th>
		<th>Line</th>
		<th>Result</th>
	</tr>
<% @recentpicks.each do |pick| %>
	<tr>
		<td><%= pick.team %></td>
		<td><%= pick.line %></td>
		<td><%= pick.result %></td>
	</tr>
<% end %>
</table>